ion-title{
    font-size: 120%;
}

.normal{
    font-size: 130%;
    text-align: center;
}

ion-item{
    text-decoration: dashed;    
}

.link{
    text-align: center;
}

.label{
    color: white;
}

.centralizar{
    text-align: center;
}