<ion-header>
  <ion-toolbar>
    <ion-title color="danger">CORONAIONIC</ion-title>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
</ion-header>

<ion-content>
  <ion-card-title mode="ios" class="link">Bienvenidos Usuarios</ion-card-title><br>
  <img mode="ios" class="link" src="../../../assets/img/logo.jpg" height="250px" width="400px">
  <br><br><br><br><br><br><br><br><br>
  <ion-button expand="block" routerLink="/create" shape="round" color="danger">Crea una cuenta<ion-icon slot="end" name="book"></ion-icon></ion-button>
  <ion-button expand="block" routerLink="/access" shape="round" color="danger">Accede a una cuenta<ion-icon slot="end" name="person"></ion-icon></ion-button>
</ion-content>

<ion-footer mode="md">
    <ion-card-content>Copyright 2020 - Gerardo Guerrero</ion-card-content>
</ion-footer>
